.heading{
    transition: all 1s ease-in-out;
}
.heading:hover{
    background: red;
}

a {
    color: darkorange;
}

a:link{
    color:deeppink
}

a:visited{
    color: cyan;
}

a:hover{
    color: darkslateblue;
    color: white;
    text-decoration: none;
}

a:active{
    color: darkviolet;
    color: white;
    text-decoration: none;
}

.pai .lista li:first-child{
    background:red
}

.pai .lista li:last-child{
    background:purple
}

input:required {
    background: black;
}